body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}


h1, h2, h3, h4, h5, h6 {  
	font-family: "Montserrat";
	font-weight: bold;

}

/*Containers*/

.container-fluid {
	padding: 7% 15%;
}


/*Sections*/


.colored-section {
	background-color: #ff4c68;
	color: #fff;

}

.white-section {
	background-color: #fff;

}

/*Headings*/

.big-heading {

	font-size: 3rem;
	line-height: 1.5;
	
}

.section-heading {
	font-size: 3rem;
	line-height: 1.5;
}

.price-text {
	font-size:  3rem;
	line-height: 1.5;
}


/*Navigation Bar*/

.navbar {
	padding-bottom: 4.5rem;
}

.navbar-brand {
	font-size: 2.25rem;
	font-family: "Ubuntu";
}

.nav-item {
	padding: 0 18px;
	
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat";
	font-weight: 400;
}

/*Title Section*/
 

#title .container-fluid {
	padding: 3% 15%;
	text-align: left;
}


.downloadBtn {
	margin-right: 15px;
	margin-bottom: 15px;
}


/*Features Section*/

#features {
	
	color: #8f8f8f;
	position: relative;
	z-index: 1;
	
}

#features i {
	color: #ef8172;
	font-size: 4.5rem;
	padding-bottom: 1rem;
}

#features i:hover {
	color: #ff4c68
}

#features h3 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 1.5rem;
	color: #000;
}

#features p {
	max-width: 250px;
	margin: 0 auto;
	padding-bottom: 50px;}


#dogPhone {
	width: 15%;
	transform: rotate(25deg);
	position: absolute;
	right: 25%;
}

@media (max-width: 1028px){
	#title {text-align: center;}

	#dogPhone {
		transform:  rotate(0deg);
		position: static;
		margin-top: 7%;
		width: 30%;

	}

	.downloadBtn {
		margin-bottom: 3%;
	}
}


/*Testimonial Section*/

#testimonials {
	background-color: #ef8172;
	
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;

}

.testimonial-text {
	font-size: 3rem;
	line-height: 1.5;
}

/*Press Section*/

#press{
	background-color: #ef8172;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

#pricing {
	padding: 100px;

}

.pricing-column {
	padding: 3% 2%;
}

/*Call To Action*/

#cta {
	
}

.cta-heading {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1.5;
}

/*Footer*/

#footer {
	color: #8f8f8f;

	padding: 5% 15%
}

.social-icon  {
	width: 15px;
	padding: 15px;
}

.social-icon:hover {
	color: #ff4c68;
}